.button {
    align: bottom;
    display: grid;
    background: rgb(179 37 37);
    text-align: center;
    width: 97%;
    color:white;
    border-radius: 10px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
}